/* Login Page Design  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.login-page {
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 150vh;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.login-input-container {
  border-radius: 20px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  background-color: #32425b;
  width: 55vh;
  height: 55vh;
  justify-content: center;
  align-items: center;
  padding: 4vh;
  color: white;
  box-shadow: 0 0 4pc rgb(32, 31, 31);
}

.p {
  width: 40vh;
  text-align: center;
  margin: 4vh;
  /* color: #1ed4b8; */
}

.login-page img {
  width: 60vh;
  margin: 0 30vh 0 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 99%;
}

.input-container input {
  margin: 2vh;
  padding: 2vh;
  border: none;
  border-radius: 8px;
}

.input-container button {
  border-radius: 2px;
  border: 1px solid #1ed4b8;
  background-color: #1ed4b8;
  color: #ffffff;
  font-size: 1.5vh;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 8px;
  border-radius: 8px;
}

.input-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.input-container p {
  margin: 1vh 0 1vh 0;
}

/* Sign up page  */

.signup-page {
  background-image: url("./assets/signup_bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

.signup-img {
  width: 80vh;
  /* margin: 5vh; */
}
